<launch>
  <arg name="amr_model" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find amr_description)/urdf/amr_model.urdf.xacro"/>

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node 
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find amr_description)/rviz/default.rviz" />

</launch>