<launch>
  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.0"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find amr_description)/urdf/amr_model.urdf.xacro"/>

  <!-- warehouse simulation environment -->
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find warehouse_simulation)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find warehouse_simulation)/models"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find warehouse_simulation)/worlds/warehouse.world"/>
    <arg name="paused" value="false"/>
    <arg name="gui" value="true"/> 
  </include>

  <node
    name="spawn_urdf"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -model amr_model -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description"
    output="screen" />

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node 
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
    
</launch>